<div class="container">
  <h1>New Review</h1>
  <%= simple_form_for([@restaurant, @review]) do |f| %>
    <%= f.input :content, placeholder: 'Write your review here' %>
    <%= f.input :rating, collection: 0..5, placeholder: 'Number from 0 to 5' %>
    <%= f.submit class: 'btn btn-success' %>
    <%= link_to "Home", restaurants_path, class: "btn btn-secondary" %>
  <% end %>
</div>
